h1 {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}



.background-image {
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 200px 200px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;




}

#button-style {
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.Margin {
    margin-bottom: 50px;
}

.Donation {
    text-align: center;


}

hr {
    size: 30px;
}

.donation-plan {
    text-align: center;
}

.food-family {
    text-align: left;
    width: 30%;
    margin-left: 15%;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
}

.display-flex {
    display: flex;
}

.new-color {
    text-align: left;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
    background-color: pink;
}

.another-color {
    text-align: left;
    width: 30%;
    margin-right: 15%;
    padding: 20px;
    border-radius: 10px;
    background-color: paleturquoise;
}

#font-decuration {
    font-weight: 700;
    font-size: 30px;
}

#design {
    background-color: bisque;
    width: 25%;
    margin-left: 38%;
    text-align: left;
    font-weight: 700;
    padding: 10px 20px;

}

.designs {
    background-color: black;
    color: orange;
    padding: 40px;

}

.new-design {
    background-color: pink;
    margin-left: 25%;
    margin-right: 25%;
    padding: 3%;
}

#button-color {
    color: white;
    background: linear-gradient(tomato, orange);
    padding: 40px, 60px;
    border: white;
    border-radius: 2px;
}

.back-color {
    background-color: blanchedalmond;
    width: 50%;
    margin-left: 25%;
    padding: 50px;
    border-radius: 5px;
}


footer {
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}